* {

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: white;
}

.nav {
    display: flex;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;

}



#img {

    border-radius: 50%;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 10px;

}

#text {
    color: #8FD3A7;
    font-family: "poppins";
    margin-top: 10px;
    font-size: 20px;
    padding: 30px;
}

.maintext {
    display: flex;
    padding: 25px;
    margin-top: 10px;
    margin-left: 350px;


}

.text1 {
    padding: 20px;
    margin-top: -20px;
    font-size: 20px;
}

#id1 {
    margin-top: 10px;
    margin-left: 500px;


}

#hidden {
    width: 100%;
    height: 70px;
    background-color: white;
}

.banner {
    background: linear-gradient(to bottom right, #cce3d5 60%, #f4d8ca 100%);
    width: 100%;
    height: 700px;
    cursor: pointer;


}

.img2 {
    margin-top: 200px;
    float: right;
    margin-right: 150px;
    border-radius: 10%;
}

.text2 {
    color: black;
    position: absolute;
    margin-top: 150px;
    font-size: 60px;
    margin-left: 100px;
    font-family: "Love Ya Like A Sister";
}

.text3 {
    color: #3EB489;
    position: absolute;
    margin-top: 150px;
    font-size: 60px;
    margin-left: 280px;
    font-family: "Love Ya Like A Sister";
}

.text4 {
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 60px;
    margin-left: 100px;
    font-family: "Love Ya Like A Sister";
}

.text5 {
    color: #F88379;
    position: absolute;
    margin-top: 220px;
    font-size: 60px;
    margin-left: 380px;
    font-family: "Love Ya Like A Sister";
}

.para1 {
    margin-left: 100px;
    color: rgb(60, 59, 59);
    font-weight: 30px;
    position: absolute;
    margin-top: 310px;
    font-size: 20px;
}

#id2 {
    margin-left: 100px;
    color: rgb(254, 252, 252);
    font-weight: 30px;
    position: absolute;
    margin-top: 430px;
    font-size: 20px;
    border: 2px solid none;
    background: linear-gradient(to right, #7ce4be, #ed978f);
    padding: 12px 70px;
    border-radius: 8px;
    cursor: pointer;
}

#id3 {
    margin-left: 400px;
    color: black;
    font-weight: 30px;
    position: absolute;
    margin-top: 430px;
    font-size: 20px;
    border: 2px solid none;
    background-color: white;
    padding: 12px 50px;
    border-radius: 8px;
    cursor: pointer;
}

.text6 {
    margin-left: 150px;
    color: #75d8b4;
    font-weight: 40px;
    margin-top: 520px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.para2 {
    margin-left: 130px;
    color: rgb(60, 59, 59);
    font-weight: 30px;
    margin-top: 560px;
    position: absolute;
    font-family: "poppins";
    font-size: 15px;
    opacity: 60%;
}

.text7 {
    margin-left: 400px;
    color: #F88379;
    font-weight: 40px;
    margin-top: 515px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;

}

.para3 {
    margin-left: 400px;
    color: rgb(60, 59, 59);
    font-weight: 30px;
    margin-top: 560px;
    position: absolute;
    font-family: "poppins";
    font-size: 15px;
    opacity: 60%;
}

.text8 {
    margin-left: 600px;
    color: #75d8b4;
    font-weight: 40px;
    margin-top: 515px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}

.para4 {
    margin-left: 620px;
    color: rgb(60, 59, 59);
    font-weight: 30px;
    margin-top: 560px;
    position: absolute;
    font-family: "poppins";
    font-size: 15px;
    opacity: 60%;
}

.banner2 {
    width: 100%;
    height: 400px;
    background-color: #c8f4e4;
    margin-top: 10px;

}

.text9 {
    margin-left: 650px;
    font-size: 20px;
    font-weight: 50px;
    padding-top: 50px;

}

span {
    color: #F88379;
    margin-left: 10px;
}

.banner3 {
    display: flex;
    margin-top: 40px;

}

.banner4 {
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 30px;
    margin: 40px;
    border-radius: 50px;

}


#banner-first {
    display: block;
    margin-left: 60px;
    border-radius: 50px;
    margin-top: 50px;
    cursor: pointer;


}


.menu-container {
    position: relative;
    cursor: pointer;
    margin-top: -150px;
    margin-left: 20px;
    font-size: 18px;
    font-family: cursive;
    color: rgb(227, 134, 136);
}

.menu-box {
    display: none;
    position: absolute;
    bottom: 120%;
    /* position above heading */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(237, 167, 167);
    color: #333;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 12px;
    min-width: 220px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    font-family: cursive;

}

.menu-box p {
    font-size: 14px;
    line-height: 1.4;
}


.menu-container:hover .menu-box {
    display: block;
}

.banner5 {
    background-color: white;
    width: 100%;
    height: 400px;
}

.banner6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#text14 {
    color: rgb(84, 81, 81);
    font-family: cursive;
    font-size: 40px;
    margin-top: 40px;

}

.banner7 {
    margin-left: 450px;
}

#text15 {
    color: gray;
    font-family: cursive;
    font-size: 20px;
    margin-top: 20px;
}

.slider {
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-left: -20px;
}

#slides {
    display: flex;
    width: calc(300px * 9);
    transition: transform 0.5s ease-in-out;
}

#slides img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-left: 30px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 5px 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.banner8 {
    width: 100%;
    height: 550px;
    background-color: #aeedd6;
    cursor: pointer;
}

.text16 {
    font-size: 40px;
    font-weight: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 40px;
    color: #333;
    cursor: pointer;
}

.banner9 {
    display: flex;
    margin-top: 60px;
    width: 100%;
    cursor: pointer;
}

.img3 {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    margin-left: 150px;
    cursor: pointer;

}

.banner10 {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.banner11 {
    width: 300px;
    height: 50px;
    background-color: white;
    margin-left: 150px;
    border-radius: 10%;
    cursor: pointer;
}

.banner12 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: "Love Ya Like A Sister";
    color: #333;
    margin-top: 10px;
    cursor: pointer;
}

.banner13 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: "Love Ya Like A Sister";
    color: #333;
    margin-top: -8px;
    cursor: pointer;
}

.banner14 {
    margin-left: 47%;
    margin-top: 5%;
    cursor: pointer;

}

.banner14 button {
    padding: 10px;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
}

.F1 {
    background: linear-gradient(to bottom right, #cce3d5 60%, #f4d8ca 100%);
    ;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    cursor: pointer;
}

.FD1 {
    margin-top: 20px;
    cursor: pointer;
}

.Fimg1 {
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 70px;
    cursor: pointer;

}

.FH1 {
    color: #3EB489;
    font-family: "poppins";
    margin-top: -35px;
    margin-left: 120px;
    cursor: pointer;
}

.FP1 {
    margin-left: 70px;
    margin-top: 20px;
    color: #333;
    cursor: pointer;
}

.fb {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: blue;
    text-decoration: none;
    margin-left: 70px;
}

.ig {
    display: block;
    margin-top: -20px;
    font-size: 20px;
    text-decoration: none;
    margin-left: 100px;
    color: #f66b5f;
}

.twitter {
    display: block;
    margin-top: -22px;
    font-size: 20px;
    text-decoration: none;
    margin-left: 130px;
    color: blue;
}

.FP2 {
    margin-top: 100px;
    margin-left: 70px;
    cursor: pointer;
}

.FH2 {
    font-size: 20px;
    margin-top: -270px;
    margin-left: 600px;
    cursor: pointer;
}

.FP3 {
    margin-left: 600px;
    margin-top: 20PX;
    cursor: pointer;
}

.FH3 {
    font-size: 20px;
    margin-top: -215px;
    margin-left: 1000px;
    cursor: pointer;
}

.FP4 {
    margin-left: 1000px;
    margin-top: 20PX;
    cursor: pointer;
}

.FH4 {
    font-size: 20px;
    margin-top: -215px;
    margin-left: 1300px;
    cursor: pointer;
}
.FP5{
     margin-left: 1300px;
    margin-top: 60PX;
    cursor: pointer;
}
.FP6{
    margin-left: 1100px;
    margin-top:80px;
    color: rgb(70, 68, 68);
    cursor: pointer;
}